@model Application.ViewModels.OrderProductReadVm
@using Kendo.Mvc.UI
@using Domain.Enum

<style>
    .nav-tabs-page .nav-link {
        color:#333
    }
</style>
<!--Clean-->
@*<ul class="nav nav-pills nav-tabs-page mb-4 justify-content-center p-4">
    <li class="nav-item">
        <a class="nav-link @(Model.Tab==EnumTab.One?"active":"")" aria-current="page" href="#">Tax</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(Model.Tab==EnumTab.Two?"active":"")" href="#">Tax Rate</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(Model.Tab==EnumTab.Three?"active":"")" href="#">Tax Exempt</a>
    </li>
</ul>*@