@model Application.ViewModels.LayoutVm

<div class="d-flex justify-content-between align-items-center bg-white border-bottom">
    <div class="page-navbar ">
        <div class="page-navbar-avatar">
            <a href="/User/Profile" class="d-flex align-items-center gap-3">
                @{
                    if (string.IsNullOrEmpty(Model.AppUser.FileAvatar))
                    {
                        <div class="avatar-empty bg-primary text-white p-2">@Infrastructure.Utils.StringUtils.GetFirstLetterOfStringWords(Model.AppUser.FullName)</div>
                    }
                    else
                    {
                        <img src="~/uploads/@Model.AppUser.FileAvatar" alt="" />
                    }
                }
                <span>@Model.AppUser.FullName</span>
            </a>
        </div>
        <div class="page-navbar-alarm d-flex gap-2 align-items-center">
            <a class="btn btn-sm btn-outline-dark" href="/Admin/Dashboard">Dashboard</a>
            <a class="btn btn-sm btn-outline-dark" href="/">Website</a>
            <a href="/Admin/Dashboard"><i class="fa fa-bell-o"></i></a>
        </div>
    </div>
    <div class="px-3">
        <form class="form" method="post" asp-controller="Auth" asp-action="SignOut">
            <button type="submit" class="" style="border:none!important;background-color:#fff!important;height:30px;width:30px;border-radius:50%">
                <svg height="24px" width="24px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="#000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g fill="#000"> <path d="M1 8a6 6 0 018.514-5.45.75.75 0 01-.629 1.363 4.5 4.5 0 100 8.175.75.75 0 11.63 1.361A6 6 0 011 8z"></path> <path d="M11.245 4.695a.75.75 0 00-.05 1.06l1.36 1.495H6.75a.75.75 0 000 1.5h5.805l-1.36 1.495a.75.75 0 001.11 1.01l2.5-2.75a.748.748 0 00-.002-1.012l-2.498-2.748a.75.75 0 00-1.06-.05z"></path> </g> </g></svg>
            </button>
        </form>
    </div>
    
</div>