@model Application.ViewModels.ProductVm
@using Domain.Enum
@{
    ViewData["Title"] = "صفحه اصلی";
    Layout = "~/Views/Shared/Layouts/_LayoutPage.cshtml";
}

<div class="contact-us" id="ETC_ProductDetails">
</div>

<script>
    $(function () {
        _Partials_Product("@ProductPartialEnum.ETC_ProductDetails", "@Model.Id");
    })
    function _Partials_Product(partial, payload) {
        var url;

        switch (partial) {
            case "@ProductPartialEnum.ETC_ProductDetails":
                url = "/Product/_Partials_Product?Partial=" + partial +"&Id=" + payload;
                break;
            default:
        }

        $.ajax({
            url: url,
            success: function (response) {
                $("#ETC_ProductDetails").html(response);
            }
        })
    }
</script>